{% extends 'app.html' %}
{% load static %}
{% block title %}Change Password Done{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome <span class="text-capitalize">{{request.user}}</span></h3>
  
  <div class="col-sm-9 offset-sm-1">
  <h3>Password Changed Successfully!!</h3>

  </div> <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameborder="0" class="giphy-embed" allowFullScreen></iframe>
    <a class=" btn btn-success " href="{% url 'changepassword' %}" type="submit" >Go Back</a>

 </div>
</div>
{% endblock main-content %}